<div class="row m-auto">
  <div class="card text-white bg-primary mb-3 ml-3 mt-3" style="max-width: 18rem;">
    <div class="card-header">{{ contact.name }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ contact.address }}</h5>
      <h5 class="card-title">{{ contact.phoneNumber }}</h5>
      <p class="card-text">{{ contact.description }}</p>
    </div>
  </div>
</div>

