<div class="row m-auto">
<div class="card text-white bg-secondary mb-2 p-2 ml-2 mt-2" style="max-width: 18rem;">
  <div class="col align-items-center">
    <p>
      <strong>{{ aboutFilm.name}}</strong>
    </p>
    <p >{{ aboutFilm.year }}</p>
    <p >{{ aboutFilm.director }}</p>
    <p >{{ aboutFilm.genre }}</p>
    <p >{{ aboutFilm.country }}</p>
    <p >{{ aboutFilm.description }}</p>
  </div>
</div>
</div>
