<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLinkActive="active" routerLink="films" [routerLinkActiveOptions]="{exact: true}">Cinematica</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/films/aboutFilms" class="nav-link">About films</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/films/aboutFilms/contacts" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
