<div class="row m-auto">
<div class="card-sm-4 mb-2">
  <div class="col no-gutters">
    <div class="col-sm-4">
      <img [src]="film.filmImg" alt="{{ film.name }}" style="max-width: 100%">
    </div>
    <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">{{ film.name }}</h5>
        <button class="btn btn-primary" (click)="openCheckoutModal()">Забронировать</button>
      </div>
    </div>
  </div>
</div>

<app-modal [isOpen]="modalOpen"
           (close)="closeCheckoutModal()"
>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCheckoutModal()">Cancel</button>
    <button class="btn btn-success">Бронь</button>
    <button class="btn btn-primary">Покупка</button>
  </div>
</app-modal>

</div>
